{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": false,
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "liquid-html"
      }
    }
  ]
}
